body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  text-align: left;
}


.text-content {
  padding: 30px;
}

h1 {
  font-size: 18pt !important;
  font-weight: bold !important;
}

h2 {
  font-size: 16pt !important;
  font-weight: bold !important;
}

h3 {
  font-size: 14pt !important;
  font-weight: bold !important;
}
